.footer {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "Cabinet Grotesk";
}

.footer-top {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 50px;
}

@media (max-width: 991px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-left {
  flex: 1;
  margin-right: 40px;
}

@media (max-width: 991px) {
  .footer-left {
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.footer-logo {
  color: #50A3B1;
  font-family: "Cabinet Grotesk";
  font-size: 76.52px;
  font-weight: 700;
  line-height: 76.52px;
  margin-bottom: 20px;
}

.footer-description {
  color: #475569;
  font-family: "Cabinet Grotesk";
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  max-width: 500px;
}

.footer-columns {
  display: flex;
  align-items: flex-start;
  gap: 100px;
}

@media (max-width: 991px) {
  .footer-columns {
    flex-direction: column;
    gap: 20px;
  }
}

.footer-links-col {
  display: flex;
  flex-direction: column;
}

.footer-heading {
  color: #49C7AB;
  font-family: "Frank Ruhl Libre";
  line-height: 135%;
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 400;
}

.footer-links {
  color: #475569;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 18px;
  line-height: 30px;
  font-family: "Cabinet Grotesk";
  font-weight: 400;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #475569;
  text-decoration: none;
  font-size: 15px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-contact-col {
  display: flex;
  flex-direction: column;
}

.footer-contact {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-phone-icon {
  width: 18px;
  height: 18px;
  margin-right: 8px;
}

.footer-phone-text {
  font-family: 'Cabinet Grotesk';
  font-weight: 400;
  line-height: 30px;
  color: #475569;
  font-size: 18px;
}

.social-heading {
  margin-top: 10px;
}

.footer-social {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 10px;
}

.footer-social-icon {
  width: 20px;
  height: auto;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.footer-social-icon:hover {
  transform: scale(1.1);
}

.footer-ropstam {
  color: #475569;
  font-family: 'Cabinet Grotesk';
  font-weight: 400;
  line-height: 30px;
  font-size: 14px;
  margin-top: 20px;
}

.footer-separator {
  border: none;
  border-top: 1px solid #c6c6c6;
  margin-top: 40px;
}

.footer-copyright {
  color: #475569;
  font-family: 'Cabinet Grotesk';
  font-weight: 400;
  line-height: 30px;
  font-size: 14px;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 30px;
}