body {
    font-family: 'Cabinet Grotesk';
    line-height: 1.6;
}

section {
    padding-top: 60px;
    padding-bottom: 60px;
}

h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

.card:hover {
    cursor: pointer;
}